# Python
__pycache__/
*.pyc
opengs_maptool.egg-info/
build/

# Don't ignore .vscode/ because it contains e.g. test settings for the project
# IDE
.idea/
# .vscode/
*.iml

# Virtual environment
.venv/

# Windows Zone.Identifier files
*:Zone.Identifier

# Logging
logs/

# Claude
CLAUDE.md
